[Unit]
Description=RaspMIDI Controlador MIDI
After=network.target bluetooth.service
Wants=bluetooth.service

[Service]
Type=simple
User=pi
WorkingDirectory=/home/pi/RaspMIDI
Environment=FLASK_CONFIG=production
Environment=FLASK_ENV=production
ExecStart=/usr/bin/python3 /home/pi/RaspMIDI/run.py
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target 