[Unit]
Description=RaspMIDI Controlador MIDI
After=network.target

[Service]
Type=simple
User=matheus
WorkingDirectory=/home/matheus/RaspMIDI
ExecStart=/home/matheus/RaspMIDI/venv/bin/python /home/matheus/RaspMIDI/run.py
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target 